#user-header {
  align-content: center;
}
#user-header .MuiAvatar-root {
  height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#paper .MuiPaper-root {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  padding: 20px;
  border-radius: 12px;
  align-items: flex-start;
  box-shadow: 0px 0px 3px 3px rgba(95, 94, 94, 0.05);
  transition: all 0.2s;
  margin: 10px;
}

#popup {
  opacity: 0;
  transition: 0.2s;
}

#paper div{
  transition: 0.2s;
  cursor: default;
}

#paper div:hover{
  background-color: rgb(240,240,240);
}

#paper:hover div div div #popup {
  opacity: 1;
}

#pop-div{
  flex-grow: unset;
}
